@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.form {
  width: 30%;
  height: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 7rem auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 1.5rem;
}

.form-title-container {
  width: fit-content;
  height: auto;
}

.form-title-container h1 {
  color: #222222;
  font-size: clamp(1rem, 1vw + 0.5rem, 2rem);
  letter-spacing: -1px;
}

.form-element-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.input-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.input-group label {
  color: #222222;
}

.input-group input {
  width: 100%;
  height: auto;
  padding: 1.2rem 1rem;
  border-color: #e3e3e3;
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid #e3e3e3;
}

.form-button-container {
  width: 100%;
  height: auto;
}

.form-button-container button {
  width: 100%;
  height: auto;
  padding: 1.2rem 1rem;
  background-color: #196cd8;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.form-button-container button:hover {
  width: 100%;
  height: auto;
  padding: 1.2rem 1rem;
  background-color: #0550b1;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
